<h1>Edit Product</h1>
<p *ngFor='let err of errors'> {{err.message}}</p>

<form #editForm='ngForm' (submit)="editThisProduct(editForm.value)">
  <input type="hidden" name="_id" [ngModel]="editProduct._id">
  <p>Title:<input type="text" name="title" [(ngModel)]="editProduct.title"></p>
  <p>Price: <input type="text" name="price" [(ngModel)]="editProduct.price"></p>
  <p>Image URL: <input type="text" name="url" [(ngModel)]="editProduct.url"></p>
  <input type="Submit" value="Submit"><button [routerLink]="['/products']">Cancel</button>
</form>
