<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cats</title>
</head>

<body>
  <p>Muffins:</p><a href="/cats/muffins"><img src="/images/cats1.jpg" width=200 height=200></a>
  <p>Bicycle:</p><a href="/cats/bicycle"><img src="/images/cats2.jpg" width=200 height=200></a>
  <p>Pinata:</p><a href="/cats/pinata"><img src="/images/cats3.jpg" width=200 height=200></a>
</body>

</html>