<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cat Details</title>
</head>

<body>
  <% for (var x in details) { %>
  <h2><%= details[x].name %></h2>
  <p>Age: <%= details[x].age %></p>
  <p>Sleeping Habits: <% for (var i = 0; i < details[x].sleepingspots.length; i++) { %>
    <ul>
      <li>
        <%= details[x].sleepingspots[i] %>
      </li>
    </ul>
    <% } %></p>
  <% } %>
</body>

</html>