<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quoting Dojo</title>
</head>

<body>
  <h1>Welcome To Quoting Dojo</h1>
  <% if(messages.registration) { %>
  <% for (var x of messages.registration) { %>
  <h3><%= x %></h3>
  <% } %>
  <% } %>
  <form method="POST" action="/quotes">
    <p>Your Name:<input type="text" name="name"></p>
    <p>Your Quote:<textarea name="quote"></textarea></p>
    <input type="submit" value="Add My Quote!"> - <a href="/quotes">Skip To Quotes!</a>
  </form>
</body>

</html>