<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes Homie!</title>
</head>

<body>
  <h1>Here are the aweoms quotes!</h1>
  <% for (var x of quotes) { %>
  <h3><%= x.quote %></h3>
  - <%= x.name %> <%= x.createdAt %>

  <% } %>
</body>

</html>